.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: white;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  //   flex-direction: column;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  img {
    width: 20%;
  }
  &:hover {
    background: rgb(226, 229, 229);
  }
}

.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.75rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(155, 155, 155) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(155, 155, 155);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: rgb(213, 213, 216);
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
